* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  background-color: #242424;
  color: #fff;
}
a {
  text-decoration: none;
  color: white;
}
img {
  display: block;
  width: 300px;
}

.features {
  display: grid;
  grid-template-columns: 5% 1fr 5%;
}

.features__content {
  grid-column: 2/3;
  text-align: center;
}

.features__title {
  font-size: 1.7rem;
  color: royalblue;
}

.features__paragraph {
  margin: 1rem auto 2.5rem;
  line-height: 1.5rem;
  color: lightgray;
  max-width: 400px;
}

.features__list {
  list-style: none;
}

.features__element {
  border-top: 1.5px solid lightgray;
}
.features__element:last-child {
  border-bottom: 1.5px solid lightgray;
}
.features__tab {
  display: inline-block;
  padding: 1.5rem 0;
  font-weight: 500;
  border-bottom: 5px solid transparent;

  transition: border-color 0.7s;
}

.features__tab--active {
  border-color: deeppink;
}

.features__container {
  grid-column: 1/-1;
  display: grid;
  grid-template-areas: 'article';
}

.features__article {
  grid-area: article;
  opacity: 0;
  pointer-events: none;

  transition: opacity 0.6s;
}

.features__article--active {
  pointer-events: unset;
  opacity: 1;
}

.features__figure {
  padding: 3rem 0;
  position: relative;
}

.features__img {
  width: 80%;
  margin: 0 auto;
  max-width: 400px;
}
.features__figure::before {
  content: '';
  position: absolute;
  background-color: lightsteelblue;

  height: 50%;
  width: 50%;
  max-width: 450px;
  bottom: 0;
  left: 0;
  border-radius: 0 100px 100px 0;
  z-index: -1;
}

.features__texts {
  width: 90%;
  margin: 3rem auto 0;
  text-align: center;
}

.features__subtitle {
  color: royalblue;
  font-size: 1.7rem;
}

.features__copy {
  color: azure;
  margin-top: 1.2rem;
  line-height: 1.5;
}

.features__cta {
  display: inline-block;
  margin-top: 1.2rem;
  padding: 1rem 1.5rem;
  background-color: royalblue;
  border-radius: 6px;
  text-decoration: none;
}
